__pycache__/
*.py[cod]
*.py.class

venv/
.env
.env.*

.log
db.sqlite3
/media
/staticfiles/
.DS_Store
.idea/

.vscode/
*.iml   
.egg-info/
dist/
build/

.ipynb_checkpoints/

node_modules/
npm-debug.log* 
yarn-debug.log*
yarn-error.log*